<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crm.mapper.CustomerActivityMapper">
	
	<delete id="delete">
		delete from customer_activities
		where id = #{id}
	</delete>

	<update id="update">
		update customer_activities
		set activity_date=#{date}, place=#{place}, title=#{title}, description=#{description}, customer_id=#{customer.id}
		where id = #{id}
	</update>
	
	<select id="get" resultType="com.atguigu.crm.entity.CustomerActivity">
		select id, activity_date, place, title, description, customer_id as "customer.id"
		from customer_activities
		where id = #{id}
	</select>

	<!-- //将相关信息插入联系表：id,name,tel,customer_id -->
	<insert id="save">
		insert into customer_activities(id, activity_date, place, title, description, customer_id)
		values(crm_seq.nextval,#{date},#{place},#{title},#{description},#{customer.id})
	</insert>

	<select id="getTotalElements" resultType="long">
		select count(id)
		from customer_activities
		where customer_id =#{id}
	</select>
	
	<select id="getContent" resultType="com.atguigu.crm.entity.CustomerActivity">
	select *
		from (
		select rownum rn,id, activity_date as "date", place, title, description, customer_id as "customer.id"
		from customer_activities
		where customer_id =#{id}
		)
		<![CDATA[
		where rn >= #{fromIndex} and rn < #{endIndex}
		]]>
	</select>

</mapper>